/* FONDO GENERAL */
body {
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #111;
}

header h2 {
  color: #a6ff00;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.menu a:hover {
  color: #a6ff00;
}

/* CONTENEDOR DEL PLAN */
.detalle-plan {
  max-width: 700px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
  border: 2px solid #a6ff00;
  border-radius: 15px;
  box-shadow: 0 0 20px #a6ff00;
}

/* TITULO */
.detalle-plan h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* TEXTO */
.detalle-plan p {
  color: #ccc;
  margin-bottom: 20px;
}

/* LISTA */
.detalle-plan ul {
  list-style: none;
  padding: 0;
}

.detalle-plan li {
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #333;
}

/* CONTACTO */
.contacto {
  text-align: center;
  margin-top: 50px;
}

.contacto input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border: none;
  border-radius: 5px;
}

.contacto button {
  padding: 10px 20px;
  background: #a6ff00;
  border: none;
  cursor: pointer;
}
